@tailwind base;
@tailwind components;
@tailwind utilities;


/* BASE */

html{
    scroll-behavior: smooth;
}
body{
    @apply text-zinc-900 bg-zinc-100 h-[200vh]
}
.container{
    @apply px-4 mx-auto lg:px-8 xl:max-w-6xl
}
.img-box{
    @apply bg-zinc-500 overflow-hidden
}
.img-cover{
    @apply w-full h-full object-cover
}

/* utilities */

.section{
    @apply pt-20 lg:pt-32
}

/* text */
.headline-1,
.headline-2{
    @apply max-w-max;
    background: -webkit-linear-gradient(0deg, #7170d2, #a1a1a1);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
.headline-1{
    @apply text-5xl leading-tight font-semibold lg:text-[55px] lg:leading-[1.15]
}
.headline-2{
    @apply text-3xl lg:text-4xl lg:leading-tight font-semibold
}
.title-1{
    @apply text-[22px] font-normal
}
.navlist{
    @apply p-3 hover:bg-sky-400 hover:text-white rounded-md transition-all
}
.navlistmd{
    @apply list-none w-full text-center p-3 hover:bg-sky-400 
    hover:text-white transition-all cursor-pointer
}

/* button */

.btn{
    @apply max-w-max h-9 flex items-center gap-2 px-4 rounded-xl font-medium
    text-sm ring-1 ring-zinc-50/5 ring-inset transition-[background-color]
}
.btn .material-symbols-rounded{
    @apply text-[18px]
}
.btn:has(.material-symbols-rounded){
    @apply pr-3
}
.btn-primary{
    @apply h-11 bg-sky-400 text-zinc-950 hover:bg-sky-300
    active:bg-sky-400
}
.btn-outline{
    @apply h-11 bg-zinc-500 hover:bg-zinc-400 active:bg-zinc-500
}

/* text field */

.label{
    @apply block text-zinc-900 text-sm font-normal mb-2
}
.text-field{
    @apply block outline-none w-full px-3 py-3 text-sm bg-zinc-200
    rounded-xl ring-1 ring-inset ring-transparent transition-shadow
    hover:ring-zinc-50/5 focus:ring-sky-400 focus:ring-2
}
.text-field::placeholder{
    @apply text-zinc-500
}